/*THIS IS MY CSS TEMPLATE */

/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}



html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: Arial, serif; 

}

/* Homer Simpson Resume Assignment */

/*
This CSS file has several design problems.

Your job is to improve the page by fixing problems with:
1. Contrast
2. Proximity
3. Hierarchy
4. Repetition
5. Alignment

Do not change the HTML unless your instructor tells you to.
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}



/* Problem: The background color and text color are hard to read */
body {
    color: black;
}

/* Problem: The resume is not clearly aligned on the page */
.resume {
margin: auto;
    margin-top: 20px;
    padding: 20px;
    max-width: 800px
}

/* Problem: Too many fonts are used */
header {
    font-size: 16px;
    font-family: Arial, serif;
    margin-left: 30px;
        text-align: center;

}

.profile {
    font-family: Arial, sans-serif;
    margin-left: 30px;
}

.experience {
    font-family: Arial, monospace;
    margin-left: 30px;
}

.education {
    font-family: Arial, fantasy;
    margin-left: 30px;
}

.skills {
    font-family: Arial, sans-serif;
    margin-left: 30px;
}

.hobbies {
    font-family: Arial, serif;
    margin-left: 30px;
}



/* Problem: Some sections are too close together and others are too far apart */
.profile {
    margin-bottom: 10px;
}

.experience {
    margin-top: 10px;
    margin-bottom: 10px;
}

.education {
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobbies {
    margin-top: 10px;
}

/* Problem: The image is too large and does not align well with the resume */
figure {

     text-align: center;
}

img {
    width: 70%;
}

figcaption {
    margin-top: 30px;
}

/* Problem: Lists and paragraphs have inconsistent spacing */
p {
    margin-top: 2px;
    margin-bottom: 30px;
}

ul {
   margin-top: 2px;
    margin-bottom: 30px;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}